{% extends "CartongMSFBundle:MapCentre:layout.html.twig" %}

{% block jumbotron %}
        <div class="jumbotron-main"></div>
        <div id="breadcrumb">
            <div class="container">
            </div>
        </div>
{% endblock %}

{% block content %}
{{ parent() }}
        <div id="">
            <div class="container">
                <div class="col-md-12">
                    <h1 class="page-header">About the Map Centre</h1><h5>
                    
					 This Map Centre is composed of a library of maps (Geonetwork) and will host in the future a
					centralized database allowing users or dedicated applications to access
					reference maps and data.
					CartONG now defined as GIS UNIT is responsible to setup all GIS
					dimensions and make it a living and participatory tool.
                    </h5> </div><div class="col-md-6"><h5> <ul>
                    <li>GIS Data Management defines rules and processes of users rights
					to respect confidentiality and own policies of MSF-CH.</li>
                   <li>Data collection, cleaning and storage in a centralized database.</li>
                    
					  </h5> </div> <div class="col-md-6"><h5><li>Technology selected, appropriate software and hardware chosen in
					response to MSF-CH needs: capable of complex analysis yet simple
					to use for daily tasks.</li>
                    <li>Human Resources with different roles and responsibilities.</li>
                    </ul> </h5> </div><div class="col-md-12"><h5>
                    The Map Centre remain the cornerstone of the GIS Strategy developed for MSF-CH. It is setting the foundation of a
					system responding to the needs for base maps and reference data. 
					
 
			</h5>   </div>
            </div>
        </div>
{% endblock %}
