{% extends "CartongMSFBundle:MapCentre:layout.html.twig" %}

{% block jumbotron %}
        <div class="jumbotron-main"></div>
        <div id="breadcrumb">
            <div class="container">
            </div>
        </div>
{% endblock %}

{% block content %}
{{ parent() }}
        <div id="">
            <div class="container">
                <div class="col-md-12">
                    <h1 class="page-header">Contact</h1>
                   <div class="col-md-12">
				  <p class="intro"><b>MSF-CH Map Centre</b> is a participative corporate web application for sharing maps and geographic data.</p><br>
				  <ul>
				<li class="intro"> Users are allowed to request maps and tools through their GIS focal point </li>
				<li class="intro"> Users & GIS field officers submit their own mapping production & data through the Submission platform of the Map Centre. </li></ul>
				  <br>
				
					
					<p class="intro">Contact your <b>GIS Focal Point</b>, especially for every new request:  <a href="mailto:gis.focal@geneva.msf.org">gis.focal@geneva.msf.org </a></p>
					<p class="intro">Contact the <b>GIS UNIT</b>, for enquiries about the MapCentre or to follow an ongoing file, excluding any activation request: <a href="mailto:gis.unit@geneva.msf.org">gis.unit@geneva.msf.org</a> </p>

				  </p>
				  <br>
				  <p class="intro">They will get back to you soon !</p>
				  
				  </div>
				  
               </div>
            </div>
        </div>
{% endblock %}
