{% extends "CartongMSFBundle:MapCentre:layout.html.twig" %}

{% block jumbotron %}
        <div class="jumbotron-main"></div>
        <div id="breadcrumb">
            <div class="container">
            </div>
        </div>
{% endblock %}

{% block content %}
{{ parent() }}
        <div id="">
            <div class="container">
                <div class="col-md-12">
                    <h4 class="page-header">Disclaimer</h4>
              <div class="col-md-6"><h5>
The use of the Site, the Materials and the Site Features is at the User’s sole risk. 
The Site, the Materials and the Site Features are provided “as is” and “as available", without warranty of any kind, 
MSF-CH specifically does not make any warranties or representations as to the accuracy or completeness of any such Site, Materials or Site Features. 
MSF-CH periodically adds, changes, improves or updates the Sites, Materials and the Site Features without notice. 
The User specifically acknowledges and agrees that MSF-CH is not liable for the conduct of any User.</h5></div>
<div class="col-md-6"><h5>
The Site may contain advice, opinions and statements of various information providers. 
MSF-CH does not represent or endorse the accuracy or reliability of any advice, opinion, statement or other information provided by any information provider, 
any User of this Site or any other third party. Reliance upon any such advice, opinion, statement, or other information shall also be at the User’s own risk.

Data, designations and boundaries contained on these Materials and Site Features are not warranted to be error-free nor do they imply official endorsement or acceptance by MSF and CartONG.</h5></div>
		  </div>
		       <div class="col-md-12">
                    <h4 class="page-header">Clauses de non-responsabilité</h4>
              <div class="col-md-6"><h5>
L'utilisation du site, des composants et des caractéristiques du site sont aux seuls risques de l'utilisateur. 
Le site, les composants et ses caractéristiques sont fournis «tels quels» et «tels que disponibles», sans garantie d'aucune sorte, 
MSF-CH en particulier ne fait aucune garantie ou représentation quant à l'exactitude ou l'exhaustivité du sites, des composants ou fonctionnalités. 
MSF-CH ajoute, modifie, améliore le site et les composants sans préavis. 
L'Utilisateur reconnaît et accepte que MSF-CH n'est pas responsable de la conduite de chaque utilisateur.
</h5></div>
<div class="col-md-6"><h5>
Le Site peut contenir des avis et des déclarations de diverses sources externes. 
MSF-CH ne représente pas ou n'approuve pas l'exactitude ou la fiabilité des conseils, opinions, déclarations ou autres informations fournies par la source externe, 
tout utilisateur de ce site ou de tout autre tiers. Le recours à des conseils comme, opinions, déclarations ou autres informations sont également laisser à l'appréciation et aux propres risques de l'utilisateur. 

Les données, les désignations et les frontières figurant sur ​​les produits et fonctionnalités du site ne sont pas garantis sans erreur et n'impliquent aucune acceptation par MSF et CartONG.</h5></div>
		  </div>
            </div>
        </div>
{% endblock %}
